*.pyc
__pycache__/
.DS_Store
build/
dist/
*.spec
.pyinstaller_cache/
boss_data.json
boss_settings.json
/target/
Cargo.*
src/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
